// Desktop
@media (min-width: 901px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }
}

// Tablets & Smaller
@media (max-width: 900px) {
  #main-nav .container {
    .hamb-menu {
      display: block;
      cursor: pointer;
    }

    ul {
      display: none;
    }
  }

  #host-content .container {
    display: grid;
    grid-template-areas:
      "graphics"
      "text";
    padding-bottom: 1rem;
    .graphics {
      grid-area: graphics;
      img {
        justify-self: center;
        width: 60%;
      }
    }
    .email-subscription {
      grid-area: text;
    }
  }

  #main-footer {
    padding: 1rem 0;
  }
}

// Mobile
@media (max-width: 500px) {
  #host-content .container {
    .graphics {
      padding: 2rem 0;
    }
  }

  #main-footer .container {
    flex-direction: column;
    justify-content: center;
    align-items: start;

    .help {
      padding-top: 2rem;
    }
  }
}
