// Tablets & Smaller
@media (max-width: 900px) {
  #main-nav .container {
    .hamb-menu {
      display: block;
      cursor: pointer;
    }

    ul {
      display: none;
    }
  }

  #host-content {
    .container {
    }
  }
}

// Mobile
@media (max-width: 500px) {
}
