// Desktop
@media (min-width: 900px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }
}

// Tablets & Smaller
@media (max-width: 900px) {
  #main-nav .container {
    .hamb-menu {
      display: block;
      cursor: pointer;
    }

    ul {
      display: none;
    }
  }

  #host-content {
    .container {
    }
  }
}

// Mobile
@media (max-width: 500px) {
}
