@import "config";
@import "utilities";
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Playfair+Display&family=Roboto:wght@100;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: $main-color;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  color: #000;
}

#main-nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .hamb-menu {
    display: none;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      color: #fff;
      margin-left: 1rem;
      padding: 0.5rem 1rem;
      background: linear-gradient(to right, #ecc16e, #ea5174);
      border-radius: 20px;
    }
  }
}

#host-content {
  padding: 8rem 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .graphics {
      display: grid;
      img {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        width: 80%;
        align-self: center;
        justify-self: end;
        transform-origin: center;

        &:first-child {
          transform: rotate(-40deg);
          z-index: 1;
        }

        &:nth-child(2) {
          transform: rotate(-26deg);
          z-index: 2;
        }

        &:nth-child(3) {
          transform: rotate(-13deg);
          z-index: 3;
        }

        &:nth-child(4) {
          z-index: 4;
        }
      }
    }

    .email-subscription {
      form {
        input[type="email"] {
          margin-right: 1rem;
          border-radius: 4px;
          border: none;
          padding: 1rem 1rem;
          width: 60%;

          &:focus {
            outline: none;
          }
        }
      }

      .unsubscribe {
        display: flex;
        justify-content: left;
        align-items: center;
        text-align: center;

        img {
          margin-right: 1rem;
        }
      }
    }
  }
}

#main-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .help {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      margin-right: 1rem;
    }

    p {
      color: #000;
      line-height: 1.5;
    }
  }
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    margin-right: 1.5rem;
  }

  &.list li a:hover {
    color: #ea5174;
  }
}
@import "media";
